body {
    padding: 0;
    margin: 0;
}

#splash {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/aorakivalley.jpeg);
    background-color: rgb(37, 37, 37);
    background-size: cover;
    background-position: center;
    position: fixed;
}

#more {
    width: 90vw;
    position: relative;
    left: 5vw;
    min-height: calc(40vw - 50px - 20px + 80px);
    top: 100vh;
    background-color: white;
    margin-bottom: 30px;
}

#greeting {
    color: white;
    bottom: 110px;
    left: 40px;
    font-size: 60px;
    position: relative;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
}

#desc {
    color: black;
    position: absolute;
    top: 10px;
    left: 40px;
}

#carousel {
    width: calc(40vw - 50px - 20px);
    height: calc(40vw - 50px - 20px);
    position: absolute;
    top: 40px;
    right: 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-template-rows: calc(50% - 10px) calc(50% - 10px);
    margin-bottom: 40px;
}

#carousel img {
    height: 100%;
    width: 100%;
    display: flex;
}

.carouselitem {
    height: 100%;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
}

#corbet {
    background-image: url(../img/corbet.jpg);
}

#keystone {
    background-image: url(../img/keystone.jpg);
}

#milford {
    background-image: url(../img/milford.jpeg);
}

#boatsn {
    background-image: url(../img/boatsn.jpg);
}

#moreinfo {
    margin-top: 70px;
}

#buttoncontainer {
    width: 460px;
    margin-left: calc((50% - 460px) / 2);
    margin-top: 30px;
    padding-bottom: 30px;
}

.aboutme {
    font-family: 'Open Sans', sans-serif;
    color: rgb(46, 46, 46);
    margin-left: 40px;
    width: calc(50% - 40px);
    margin-top: 20px;
}

button {
    height: 60px;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    background-color: rgb(34, 34, 34);
    margin: 0;
    padding: 0;
    border: none;
}

#thevoid:hover {
    background-color: rgb(0, 36, 125);
}

#resume:hover{
    background-color: rgb(204, 20, 43);
}

button:hover {
    cursor: pointer;
}

button:focus {
    border: none;
    outline: 2px solid black;
}

#resume {
    margin-left: 50px;
}